.build-list[data-v-b3258564]{width:100%}.toolbar[data-v-b3258564]{margin-bottom:16px;display:flex;justify-content:space-between}.pagination-wrapper[data-v-b3258564]{margin-top:16px;display:flex;justify-content:flex-end}
