.build-list[data-v-c2b1101b]{width:100%}.toolbar[data-v-c2b1101b]{margin-bottom:16px;display:flex;justify-content:space-between}.pagination-wrapper[data-v-c2b1101b]{margin-top:16px;display:flex;justify-content:flex-end}
